
.ui-menu {
   border-radius: 5px;
}

.ui-menu .ui-menu-item {
    margin: 5px;
}

.ticket_row, .insurance_row, .service_row, .client_payment_row, .confirmation_row, .tourop_payment_row{
    margin-bottom: 15px;
}

.contract_row{
    margin:20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 11px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 11px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 11px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 11px;
}
